

.trainer{
     overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.course-container {
  display: flex;             
  flex-wrap: wrap;           
  justify-content: flex-start;
  gap: 1px;                  
  padding: 10px;
}

.course-card {
  width: 300px;              
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.course-card img {
  height: 150px;
  object-fit: cover;         
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;   /* center alignment */
}

.course-card {
  width: 300px;              /* card size control */
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card img {
  height: 140px;
  object-fit: cover;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}


.course-card {
  width: 260px;
}